# POSTTEST 4 Data Preprocessing

Nama : Herni Suhartati <br>
NIM : 2109106001 <br>
Kelas : A1 Informatika 2021 <br>

### Vehicle Dataset

In [4]:
# Import library yang digunakan
import pandas as pd
import numpy as np

In [134]:
df=pd.read_csv('vehicle.csv')
df.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
5,Maruti Alto LX BSIII,2007,140000,125000,Petrol,Individual,Manual,First Owner
6,Hyundai Xcent 1.2 Kappa S,2016,550000,25000,Petrol,Individual,Manual,First Owner
7,Tata Indigo Grand Petrol,2014,240000,60000,Petrol,Individual,Manual,Second Owner
8,Hyundai Creta 1.6 VTVT S,2015,850000,25000,Petrol,Individual,Manual,First Owner
9,Maruti Celerio Green VXI,2017,365000,78000,CNG,Individual,Manual,First Owner

### Split Data dengan proporsi 70:30

In [135]:
from sklearn.model_selection import train_test_split # import Scikit Learn library untuk menggunakan fungsi train_test_split

x = df.iloc[:,:-1]
y = df.iloc[:,-1]

x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.3)

In [136]:
print("Dimensi x_train: ", x_train.shape)
print("Dimensi y_train: ", y_train.shape)
print("Dimensi x_test: ", x_test.shape)
print("Dimensi y_test: ", y_test.shape)

Dimensi x_train:  (3038, 7)
Dimensi y_train:  (3038,)
Dimensi x_test:  (1302, 7)
Dimensi y_test:  (1302,)

### Normalisasi

In [137]:
from sklearn.preprocessing import MinMaxScaler # import library Scikit Learn untuk menggunakan fungsi MinmaxScaler

In [138]:
df_normalis = df[["selling_price"]] # Menyalin data set
minmax_scaler = MinMaxScaler()
normalis_scale = minmax_scaler.fit_transform(
    df_normalis[["selling_price"]]) # Proses normalisasi
data_normalisasi = pd.DataFrame(normalis_scale,columns=["normalisasi"])
df_normalis = df_normalis.join(data_normalisasi)
print ("Perbandingan data setelah dan sebelum normalisasi")
df_normalis.head()

Perbandingan data setelah dan sebelum normalisasi

   selling_price  normalisasi
0          60000     0.004505
1         135000     0.012950
2         600000     0.065315
3         250000     0.025901
4         450000     0.048423

### Standarisasi

In [139]:
from sklearn.preprocessing import StandardScaler # import library Scikit Learn untuk menggunakan fungsi StandardScaler

In [140]:
df_standar=df[["km_driven","selling_price"]] # Menyalin data set
ss = StandardScaler()
standar_scale = ss.fit_transform(
    df_standar[["km_driven","selling_price"]]) # Proses standarisasi 
data_standarisasi = pd.DataFrame(standar_scale, columns=["km_driven_standar","selling_price_standar"])
df_standar = df_standar.join(data_standarisasi)
print ("Perbandingan data setelah dan sebelum standarisasi")
df_standar.head()

Perbandingan data setelah dan sebelum standarisasi

   km_driven  selling_price  km_driven_standar  selling_price_standar
0      70000          60000           0.081139              -0.767746
1      50000         135000          -0.347689              -0.638096
2     100000         600000           0.724381               0.165731
3      46000         250000          -0.433455              -0.439300
4     141000         450000           1.603479              -0.093568

In [141]:
np.std(data_standarisasi) # Mengecek standar deviasi dari setiap kolom

km_driven_standar        1.0
selling_price_standar    1.0
dtype: float64

### Data Cleaning

Dikarenakan dataset utama terbilang tidak rusak, sehingga di sini merusak dataset yang bagus kemudian melakukan cleaning dari dataset tersebut.

In [144]:
df_rusak=pd.read_csv("vehicle_rusak.csv")

In [145]:
df_rusak[10:20]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
10,Chevrolet Sail 1.2 Base,2015,NaN,NaN,NaN,NaN,NaN,NaN
11,Tata Indigo Grand Petrol,2014,250000.0,NaN,NaN,NaN,NaN,NaN
12,Toyota Corolla Altis 1.8 VL CVT,2018,NaN,NaN,NaN,NaN,NaN,NaN
13,Maruti 800 AC,2007,60000.0,70000.0,NaN,NaN,NaN,NaN
14,Maruti Wagon R LXI Minor,2007,135000.0,NaN,NaN,NaN,NaN,NaN
15,Hyundai Verna 1.6,2015,NaN,NaN,NaN,NaN,NaN,NaN
16,Datsun RediGO T Option,2017,NaN,NaN,NaN,NaN,NaN,NaN
17,Honda Amaze VX i-DTEC,2014,NaN,NaN,NaN,NaN,NaN,NaN
18,Datsun RediGO T Option,2017,NaN,NaN,NaN,NaN,NaN,NaN
19,Hyundai Xcent 1.2 Kappa S,2016,NaN,NaN,NaN,NaN,NaN,NaN

### Menangani Nilai Null dari Dataset

In [146]:
df_rusak.isna().sum() # Melihat jumlah nilai nul dari setiap kolom

name              0
year              0
selling_price     9
km_driven        12
fuel             14
seller_type      14
transmission     14
owner            14
dtype: int64

In [147]:
from sklearn.impute import SimpleImputer # import library Scikit Learn untuk menggunakan fungsi SimpleImputer
cleanNull = SimpleImputer(strategy="most_frequent") # Mengahapus nilai null menggunakan strategi modus

In [148]:
df_rusak["selling_price"] = cleanNull.fit_transform(df_rusak[["selling_price"]])

In [149]:
df_rusak.isna().sum()

name              0
year              0
selling_price     0
km_driven        12
fuel             14
seller_type      14
transmission     14
owner            14
dtype: int64

In [150]:
df_rusak["km_driven"] = df_rusak["km_driven"].fillna(df_rusak["km_driven"].median()) # Menggunakan strategi median

In [151]:
df_rusak.isna().sum()

name              0
year              0
selling_price     0
km_driven         0
fuel             14
seller_type      14
transmission     14
owner            14
dtype: int64

In [152]:
df_rusak["fuel"] = cleanNull.fit_transform(df_rusak[["fuel"]])

In [153]:
df_rusak.isna().sum()

name              0
year              0
selling_price     0
km_driven         0
fuel              0
seller_type      14
transmission     14
owner            14
dtype: int64

In [154]:
df_rusak["seller_type"] = cleanNull.fit_transform(df_rusak[["seller_type"]])

In [155]:
df_rusak.isna().sum()

name              0
year              0
selling_price     0
km_driven         0
fuel              0
seller_type       0
transmission     14
owner            14
dtype: int64

In [156]:
df_rusak["transmission"]=cleanNull.fit_transform(df_rusak[["transmission"]])

In [157]:
df_rusak.isna().sum()

name              0
year              0
selling_price     0
km_driven         0
fuel              0
seller_type       0
transmission      0
owner            14
dtype: int64

In [158]:
df_rusak["owner"]=cleanNull.fit_transform(df_rusak[["owner"]])

In [159]:

df_rusak.isna().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

### Menangani Nilai Duplikat dari Dataset

In [160]:
print(f"Jumlah duplikat adalah {df_rusak.duplicated().sum()}")

Jumlah duplikat adalah 752

In [174]:
df_rusak.drop_duplicates(inplace=True) # Menggunakan fungsi drop_duplicates untuk menangani nilai duplikat
print(f"Jumlah data duplikat sekarang adalah {df_rusak.duplicated().sum()}")

Jumlah data duplikat sekarang adalah 0

### Menganti type data salah satu atribut angka

In [162]:
df_rusak["year"].dtypes # Mengecek tipe data sebelum

dtype('int64')

In [163]:
df_rusak[['year']] = df_rusak[['year']].astype("object") # Fungsi astype digunakan untuk merubah type data

In [164]:
df_rusak["year"].dtypes # Mengecek tipe data sesudah

dtype('O')

### One Hot Encoding

In [165]:
from sklearn.preprocessing import OneHotEncoder # import library Scikit Learn untuk menggunakan fungsi OneHotEncoder

In [166]:
onehotEncoding = OneHotEncoder(sparse=False)

In [167]:
encoding = onehotEncoding.fit_transform(df_rusak[["fuel"]]) # Melakukan one hot encoding ke atribut fuel

In [168]:
fuel = df_rusak.dropna(subset=['fuel']).sort_values(by=['fuel'])['fuel'].unique() # Mengambil data kategori dari atribut fuel

In [169]:
df_encoding= pd.DataFrame(encoding, columns=fuel)

In [170]:
df_encoding.head()

   CNG  Diesel  Electric  LPG  Petrol
0  0.0     0.0       0.0  0.0     1.0
1  0.0     0.0       0.0  0.0     1.0
2  0.0     1.0       0.0  0.0     0.0
3  0.0     0.0       0.0  0.0     1.0
4  0.0     1.0       0.0  0.0     0.0

In [171]:
df_rusak = df_rusak.join(df_encoding) # Menggabungkan dataset dengan dataencoding dari atribut fuel

In [172]:
df_rusak.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,CNG,Diesel,Electric,LPG,Petrol
0,Maruti 800 AC,2007,60000.0,70000.0,Petrol,Individual,Manual,First Owner,0.0,0.0,0.0,0.0,1.0
1,Maruti Wagon R LXI Minor,2007,135000.0,50000.0,Petrol,Individual,Manual,First Owner,0.0,0.0,0.0,0.0,1.0
2,Hyundai Verna 1.6 SX,2012,600000.0,100000.0,Diesel,Individual,Manual,First Owner,0.0,1.0,0.0,0.0,0.0
3,Datsun RediGO T Option,2017,250000.0,46000.0,Petrol,Individual,Manual,First Owner,0.0,0.0,0.0,0.0,1.0
4,Honda Amaze VX i-DTEC,2014,450000.0,141000.0,Diesel,Individual,Manual,Second Owner,0.0,1.0,0.0,0.0,0.0